* ,*::after, *::before {
    box-sizing: inherit;}

body {
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;}


    
/* Flexbox */    
.flex-y {
    display: flex;
    flex-direction: column;}

.flex-x {display: flex;}








.landing-section {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    padding: 1rem;
}

.bg-header-desktop {width: 100%;}



@media only screen and (max-width:475px) {

.download-btn-mobile {
    display: flex;
    flex-direction: column;
}


}